MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/jdready?retryWrites=true&w=majority
NEXTAUTH_SECRET=your_long_random_secret (can be generated with `openssl rand -base64 32` in your terminal)
NEXTAUTH_URL=http://localhost:3000
GROQ_API_KEY=your_groq_key
RESEND_API_KEY=your_resend_key
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret